<h1>Ajoutez un article</h1>
<a class="back" href="/home">Back</a>
<form action="/add_post" method="post">
	<p>Titre de l'article</p>
	<input type="text" name="Title">
	<p>Contenu de l'article</p>
	<textarea name="Contents"></textarea>
	<p>Ajouter lien de la photo</p>
	<input type="text" name="Picture">

	<input type="submit" name="Enregistrer">
</form>
