<h1>Ajoutez un article</h1>
<a class="back" href="/home">Back</a>
<form action="/add_post" method="post">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  <p>Titre de l'article</p>
  <input type="text" name="Title" />
  <p>Nationalité</p>
  <input type="text" name="Nationality" />
  <p>Contenu de l'article</p>
  <textarea
    type="text"
    class="form-control"
    name="Contents"
    id="Contents"
  ></textarea>
  <p>Ajouter lien de la photo principale</p>
  <input type="text" name="Picture" />
  <p>Ajouter lien du portrait</p>
  <input type="text" name="Portrait" />
  <button type="submit">Enregistrer</button>
</form>
