<h1>Admin</h1>

<a class="back" href="/add_post">Ajouter un article</a>

<table> 
	<thead>
			<th>Titre</th>
            <th>Article</th>
			<th>Editer</th>
			<th>Supprimer</th>
	</thead>
	<tbody>
	    <% for(let i = 0; i < posts.length; i++) { %>
			<tr>
				<td>
					<a class="back" href="/edit_post/:id"><%=posts[i].Title%></a>
				</td>
				<td><%=posts[i].Contents.substring(0, 30)%> ...</td>
				<td><a class="edit" href="/post/<%=posts[i].id%>"><i class="fa fa-pencil"></i></a></td>
                <td><a class="remove" href="delete_post/<%=posts[i].PostId%>"><i class="fa fa-remove"></i></a></td>
                
			</tr>
		<% } %>
	</tbody>
</table>













<script src="/js/user.js"></script>