
<h1 class="connectYou">Connectez vous</h1>
<% if (error !== null) { %>
	<p class="errorMsg"><%= error %></p>
<% } %>

<% if (error == null) { %>
	<p class="errorMsgvalid"><%= error %></p>
<% } %>




<div class="container">
	<form action="/login" method="post">
		<div class="form-group">
			<label for="email" class="form-label">Email</label>
			<input type="email" class="form-control" name="email" id="email">
		</div>
		<div class="form-group">
			<label for="password" class="form-label">Password</label>
			<input type="password" class="form-control" name="password" id="password">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>