<h2>S'enregister</h2>
<% if (errors !== null) { %>
	<%for(let i = 0; i < errors.length; i++) {%>
		<li>
			<p><%=errors[i].value%></p>
			<p><%=errors[i].msg%></p>
			<p><%=errors[i].param%></p>
	
		</li>
	<% } %>
	
<% } %>



<form action="/register" method="post">
	<label>Nom</label>
	<input type="text" name="lastName" required>
	<label>Prénom</label>
	<input type="text" name="firstName" required>
	<label>Email</label>
	<input type="text" name="email" required>
	<label>Password</label>
	<input type="password" name="password" required>
	<input type="submit" name="Se connecter">
</form>