<h2 class="registerYou">S'enregister</h2>

<% if(typeof alert != 'undefined') { %>
	<% alert.forEach(function(error) { %>
		<div class="alert-warning" role="alert">
			<p class="para"><%= error.msg %></p>
			<p class="para"><%= error.param %></p>
			<button type="button" class="close" data-dismiss="alert" aria-label="close">
				<span class="span" aria-hidden="true">x</span>
			</button>
		</div>
	<% }) %>
<% } %>


<div class="container">
	<form action="/register" method="post">
		<div class="form-group">
			<label for="firstname" class="form-label">Username</label>
			<input type="text" class="form-control" name="firstname" id="firstname" required>
		</div>
		<div class="form-group">
			<label for="lastname" class="form-label">Lastname</label>
			<input type="text" class="form-control" name="lastname" id="lastname" required>
		</div>
		<div class="form-group">
			<label for="email" class="form-label">Email</label>
			<input type="email" class="form-control" name="email" id="email" required>
		</div>
		<div class="form-group">
			<label for="password" class="form-label">Password</label>
			<input type="password" class="form-control" name="password" id="password" required>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
<script src="../public/closeBannierErrorForm.js"></script>