<h2>S'enregister</h2>

<form action="/register" method="post">
	<label>Nom</label>
	<input type="text" name="lastName">
	<label>Prénom</label>
	<input type="text" name="firstName">
	<label>Email</label>
	<input type="text" name="email">
	<label>Password</label>
	<input type="password" name="password">
	<input type="submit" name="Se connecter">
</form>